@charset "utf-8";
/* CSS Document */


#template {
	position:relative;
	width:100%;
	height:100%;
	z-index:1;
	left: 0%;
	top: 0%;
	border:dotted;
	border-width:1px;
	border-color:black;
	background-color:#039;
	overflow:hidden;
	text-align:center;
	font-size:18px;
}
.zone {
	position:absolute;
	border:dotted;
	background-color:gray;
	border-width:thin;
	border-color:black;
	overflow:hidden;
	cursor:move;
	text-align:center;
}
.video {
	position:absolute;
	border:solid;
	background-color:gray;
	border-width:thin;
	border-color:black;
	overflow:hidden;
	cursor:move;
	text-align:center;
	background-image:url(./wbTextBox/images/wmv.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.text {
	position:absolute;
	border:dashed;
	background-color:gray;
	border-width:1px;
	border-color:black;
	overflow:hidden;
	cursor:move;
	text-align:center;
	background-image:url(./wbTextBox/images/aleft.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.html {
	position:absolute;
	border-style:solid;
	background-color: gray;
	border-width:1px;
	border-color:black;
	overflow:hidden;
	cursor:move;
	text-align:center;
	background-image:url(./wbTextBox/images/wlink.gif);
	background-position:center;
	background-repeat:no-repeat;
}