<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link href="style.css" rel="stylesheet" type="text/css">
<link href="layout_edit.css" rel="stylesheet" type="text/css">
<SCRIPT language=javascript src="ui/layout_edit.js"/>
</SCRIPT>
</head>
<body onLoad="InitPage()">

<BR>
<table width='100%'  border=0 cellpadding=2 cellspacing=1 bgcolor='#e7e7e7' class='border'><form id=myform action='' method='post' onSubmit="if(!isclicksubmit)return false;"  enctype='multipart/form-data'>
<TR class=title ><TD  colspan=8><B><%$page_title%></B></TD></TR>
<tr class=tdbg>
<td class=calendar_week_head></td>
<td class=calendar_week_head></td>
<td class=calendar_week_head></td>
<td class=calendar_week_head></td>
<td class=calendar_week_head></td>
<td class=calendar_week_head></td>
<td class=calendar_week_head></td>
<td class=calendar_week_head></td>
</tr>
<tr class=cellbg>
<td class=calendar_rowhead>06:00</td>
<td class=calendar_weekcell></td>
<td class=calendar_weekcell></td>
<td class=calendar_weekcell></td>
<td class=calendar_weekcell></td>
<td class=calendar_weekcell></td>
<td class=calendar_weekcell></td>
<td class=calendar_weekcell></td>
</tr>
</form>
</table>
</BODY>
</HTML>