body
{
	background-color:
}
.hoverdiv{
	font-family:"ו", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	white-space: nowrap;
	cursor:pointer;
}
.dtree {
	font-family:"ו", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	white-space: nowrap;
	cursor:pointer;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	white-space: nowrap;
	color: #333;
	text-decoration: none;
	display:inline-block;
	background-attachment:fixed;
	background:fixed;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
	line-height:30px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .span {
	overflow: hidden;
}