<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><?=$site_title?> - <?=$page_title?></title>
<link href="style.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style1 {color: #FF6600}
-->
</style>
<SCRIPT language=javascript>
function unselectall(theform)
{
    if(theform.chkAll.checked){
			theform.chkAll.checked = theform.chkAll.checked&0;
    } 	
}

function CheckAll(theform)
{
  for (var i=0;i<theform.elements.length;i++)
    {
    var e = theform.elements[i];
    if (e.Name != "chkAll")
       e.checked = theform.chkAll.checked;
    }
}
</SCRIPT>
</head>

<body>

<BR>
<?=$table?>
</BODY>
</HTML>
