<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<LINK href="style.css" type=text/css rel=stylesheet>
<title><?=$site_title?> - <?=$page_title?></title>
</HEAD>
<SCRIPT language=javascript>
var x=0;
function switchSysBar()
{
	if (x==0)
	{
	switchPoint.innerHTML="<img src=images/b.gif>";
	document.all("frmMenu").style.display="none";
	x=1;
	}
	else
	{
	switchPoint.innerHTML="<img src=images/a.gif>";
	document.all("frmMenu").style.display="";
	x=0;
	}
}
</SCRIPT>
</head>
<body scroll="no" style="MARGIN: 0px">
<table border=0 cellspacing=0 cellpadding=0 width=100% height=100% id=tblTotal Name = tblTotal align=center>
<tr>
<td id="frmMenu" name="frmMenu" nowrap valign="center" align="middle"  height='100%'>
<iframe  scrolling="auto" id="left" name="left"  style="HEIGHT:100%; VISIBILITY: inherit; WIDTH: 165px; Z-INDEX: 1" 
	frameborder="0" 
	src="?controller=Frame&action=menu"></iframe>
</td>
<TD id=cmenu BACKGROUND="images/bg-10.gif" width="10">
<SPAN id=Label1><SPAN id=switchPoint title="view / hide" style="CURSOR: hand" onclick="switchSysBar();">
<IMG src="images/a.gif"></SPAN></span>
</TD>
<td width='100%'>
<table  border=0 cellspacing=0 cellpadding=0 width=100% height=100% align="center">
<tr>
<td width='100%' height="25">
<iframe id="rtop" name="rtop" scrolling="no" style="height: 100%; visibility: inherit; width: 100%;z-index: 1" 
	width="100%" height="100%" frameborder=0 marginwidth="0" marginheight="0" 
	src="?controller=Frame&action=headbar"></iframe>
</td>
</tr>
<tr>
<td width='100%' nowrap>
<iframe id="frame_main" name="frame_main" style="height: 100%; visibility: inherit; width: 100%;z-index: 1" 
	frameborder=0 marginwidth="0" marginheight="0" 
	src="<?=$mainurl?>"></iframe>
</td>
</tr>
</table>
</td></tr></table>
</body>
</HTML>