<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta <%$url_redirect%>>
<link rel="stylesheet" type="text/css" href="style.css">
<title>系统提示!</title>
</head>
<table width="100%" height="100%"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td align="center" valign="middle">
	<table width="408" border="0" align="center" cellpadding="2" cellspacing="1" class=border>
      <tr>
        <td height="29" bgcolor=#ffffff class=tdbg TD><B>系统提示!</B></td>
      </tr>
      <tr class=ftitle>
        <td background=""><table width="100%" border="0" cellpadding="15" cellspacing="0" class="ablack">
          <tr>
            <td width="100%" height="50" valign="top"><div align="left" class="ared"><strong>
              <%$message%>
            </strong></div></td>
          </tr>
          <tr>
            <td height="45" valign="top"><div align="center">
                <input name="ok" type="button" class="border" value="确定" onclick="javascript:<%$btn_onclick%>"  style="width:80;height:30"/>
                 </div></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
